*{
    padding: 0%;
    margin: 0%;
}
.bg-image{
    background: linear-gradient(to top,rgba(25, 22, 22, 0.534)50%,rgba(25, 22, 22, 0.534)50%),url("rest.jpg");
    background-size: 100%  100%;
    background-position: cover;
    height: 100vh;

}
.nav-bg{
background-color: rgb(0, 0, 0);
background-size: cover;


}
.nav-bar {
    display: inline;
    padding: 15px,15px;

}
.nav-bar a{
 margin-left: 15px;
 font-family: "Comic Sans";
 font-size: 30px;
 text-decoration: none;
 color: aliceblue;
} 
a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.center{
    display: flex;
    justify-content:;
    align-items:flex-start;
    
}