*{
    padding: 0%;
    margin: 0%;
}
.bg-image{
    background: linear-gradient(to top,rgba(25, 22, 22, 0.534)50%,rgba(25, 22, 22, 0.534)50%),url("rest.jpg");
    background-size: 100%  100%;
    background-position: cover;
    height: 100vh;

}
.nav-bg{
background-color:#895902;
background-size: cover;
width: 18%;
float: right;
margin-right: 100px;
margin-top: 20px;



}
.nav-bar {
    display: inline;
   

}
.nav-bar a{
 
 font-family: "Comic Sans";
 font-size: 30px;
 text-decoration: none;
 color: aliceblue;
} 
a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
   
    transition-duration: 1.0s;
    
}

.center{ 
    background-color: rgba(157, 157, 157, 0);
    color: aliceblue;
    position: absolute;
    left: 40%;
    top: 40%;
    
    
    
    
}
